<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience at LAO</title>
</head>

<body>
    <a href="{{ url_for('index') }}">Home</a>
    <section className="coop-section">
        <div className="coop-card">
            <h1>My Internship Experience at the Legislative Assembly of Ontario</h1>

            <p>
                During my internship, I worked as a Software Developer and Analyst with
                the Legislative Assembly of Ontario. This role gave me the opportunity to
                contribute to both internal applications and
                public-facing web platforms, while collaborating closely with a wide range of teams.
            </p>


            <h2>Key Responsibilities</h2>
            <ul>
                <li>Supported internal Power Apps used by staff.</li>
                <li>Contributed to public-facing Drupal-based websites, focusing on usability,
                    functionality, and accessibility.</li>
                <li>Handled site analytics, bug fixes, and maintenance.</li>
                <li>Assisted with workplace engagement through social events like cornhole tournaments
                    and the organization picnic.</li>
            </ul>


            <h2>Major Projects</h2>

            <h4>1. Voting Records Project</h4>
            <p>
                Identified that voting records were not publicly accessible and led a project from
                concept to implementation, following all SDLC steps.
            </p>
            <ul>
                <li>Designed, implemented, and integrated the voting records feature.</li>
                <li>Delivered a feature that became a key resource for legislative transparency.</li>
            </ul>

            <h4>2. Website Navigation Enhancement</h4>
            <p>
                Assisted in a project aimed at improving the site’s navigation. Tasks included:
            </p>
            <ul>
                <li>QA and UAT testing to ensure smooth rollout.</li>
                <li>Proposing and implementing new features.</li>
                <li>Developing and improving features with React, SCSS, PHP, and Drupal.</li>
            </ul>


            <h2>Takeaways</h2>

            <p>
                This internship provided experience in full-stack development, cross-team collaboration, and
                independent project leadership. It reinforced the importance of user-focused design,
                communication, and accessibility when creating software.
            </p>

        </div>
    </section>
</body>

</html>